@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;700&family=Lustria&family=Lato:wght@700&display=swap');

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;

    /* Maybe lower font-size to 16px? */
    font-size: 30px;

    --editor-bg-color: #FFFFFF;
    --results-bg-color: #f6f8f6;
    --editor-accent-color: #eee;
    --editor-text-color: black;
    background-color: var(--editor-bg-color);
}

.alt-theme body,
html.alt-theme {
    --editor-bg-color: #262826;
    --results-bg-color: #2F322F;
    --editor-accent-color: #464846;
    --editor-text-color: #eee;
}

@media (prefers-color-scheme: dark) {

    body,
    html {
        --editor-bg-color: #262826;
        --results-bg-color: #2F322F;
        --editor-accent-color: #464846;
        --editor-text-color: #eee;
    }

    .alt-theme body,
    html.alt-theme {
        --editor-bg-color: #FFFFFF;
        --results-bg-color: #f6f8f6;
        --editor-accent-color: #eee;
        --editor-text-color: black;
    }
}


.split {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}


.gutter {
    background-color: var(--editor-accent-color);
    background-repeat: no-repeat;
    background-position: 50%;
}


.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}


#editor {
    font-family: 'Fira Mono', monospace;
    font-size: 1em;
}


.terminal,
.cmd,
.ace_editor {
    background-color: var(--editor-bg-color);
    color: var(--editor-text-color);
}


#editor .ace_gutter {
    background-color: var(--editor-accent-color);
    color: var(--editor-text-color);
}

#theme-toggle {
    position: absolute;
    right: 6px;
    top: 6px;
    background-color: #00000000;
}

.type-expr {
    font-family: 'Fira Mono', monospace;
    font-size: 1em;
    margin-top: 0em;
    margin-bottom: 0;
    padding: 1em;
    overflow: auto;
    display: block;
}


#results {
    font-family: 'Fira Mono', monospace;
    font-size: 1em;
    padding: 0.1em;
    background-color: var(--results-bg-color);
    color: var(--editor-text-color);
}

.numbat-type-identifier {
    color: #ca3b63;
}

.ace_type {
    color: #ca3b63 !important;
}

.numbat-value {
    color: #0040ff;
}

.ace_numeric {
    color: #0040ff !important;
}

.numbat-keyword {
    color: #c802ff !important;
}

.ace_keyword {
    color: #c802ff !important;
}

.ace_comment {
    color: #8c8c8c !important;
}

.ace_string {
    color: #27a85f !important;
}

.ace_decorator {
    color: #27a85f !important;
}

.numbat-string {
    color: #27a85f;
}

.ace_operator {
    color: #db2828 !important;
}

.numbat-unit {
    color: #8812a6;
}

.numbat-dimmed {
    color: #888;
}

.numbat-diagnostic-red {
    color: #cc3b0a;
}

.numbat-diagnostic-blue {
    color: #0040ff;
}

.numbat-diagnostic-bold {
    font-weight: bold;
}
